<div class="row">
  <div class="col-md-12">
    <%= form_for WebhookHandler.new, {html: {role: "form"}} do |f| %>
      <%= f.label :type, 'Background job system' %>
      <%= f.select :type, [['Resque', 'resque'], ['Sidekiq', 'sidekiq']] %>
    <% end %>
  </div>
</div>